{
  "presets": [
    "@babel/preset-env",
    // {                                   // 可以参考https://github.com/HeavenSky/react-antd-ie9
    //   "useBuiltIns": "entry",
    //   "targets": {
    //     "browsers": [ "ie >= 9", "chrome >= 62" ]
    //   },
    // },
    // "@babel/env",
    // {
    //   "targets": {
    //     "ie": "9",
    //   },
    //   "useBuiltIns": "usage",
    // },
    "@babel/preset-react",
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    "react-loadable/babel",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
