@import '../../basestyle.less';
.vepcarea {
  .vepcarea-layer {
    text-align: left;
    &-hot {
      // display: flex;
      padding-left: 20px;
      padding-top: 16px;
      border-bottom: 1px solid #ececec;
      margin-bottom: 16px;
      &-l {
        // flex-basis: 80px;
        width: 80px;
        float: left;
        font-size: 13px;
        font-weight: bold;
        color: #484848;
        line-height: 17px;
      }
      &-r {
        // flex: 1;
        float: left;
        font-size: 13px;
        line-height: 17px;
        color: #333333;
        // width: 615px;
        &-item {
          display: inline-block;
          width: 62px;
          padding-bottom: 16px;
          cursor: pointer;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          &:hover {
            color: @yellow;
          }
        }
        .disabled {
          color: #ccc;
          cursor: not-allowed;
          &:hover {
            color: #ccc;
          }
        }
      }
    }
    &-pinyin {
      padding: 0 0 0 20px;
      &-list {
        // display: flex;
        &-l {
          // flex-basis: 80px;
          width: 80px;
          float: left;
          font-size: 13px;
          font-weight: bold;
          color: #484848;
          line-height: 17px;
        }
        &-r {
          // flex: 1;
          float: left;
          font-size: 13px;
          line-height: 17px;
          color: #333333;
          &-item {
            display: inline-block;
            width: 62px;
            height: 38px;
            position: relative;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: pointer;
            &:hover {
              color: @yellow;
            }
  
            &-arrow {
              position: absolute;
              top: 26px;
              left: 5px;
              width: 12px;
              height: 12px;
              z-index: 10;
            }
          }
        }
      }
    }
  
    &-third {
      margin: -4px 0 12px 0;
      padding: 0 20px 0 100px;
      &-box {
        box-sizing: border-box;
        border: 1px solid #ffc097;
        border-radius: 2px;
        background: #f7f8f9;
        border-radius: 4px;
        &-content {
          padding: 14px 0 4px 18px;
        }
      }
  
      &-item {
        width: 63.5px;
        height: 16px;
        display: inline-block;
        margin-bottom: 12px;
        color: #555555;
        font-size: 12px;
        line-height: 16px;
        cursor: pointer;
      }
      .disabled {
        color: #ccc;
        cursor: not-allowed;
      }
  
      .selected {
        color: @yellow;
      }
    }
  
    .selected {
      color: @yellow;
    }
    .width55 {
      width: 55px !important;
      span {
        width: 55px !important;
      }
    }
    .en {
      .vepcarea-layer-hot-r-item, .vepcarea-layer-pinyin-list-r-item, .vepcarea-layer-third-item {
        width: 72px;
        padding-right: 6px;
        box-sizing: border-box;
        span {
          width: 66px;
          /*必须是固定宽度值*/
          white-space: nowrap;
          /*规定段落中的文本不进行换行 */
          overflow: hidden;
          /*超出部分隐藏*/
          text-overflow: ellipsis;
          /*超出部分显示省略号*/
          display: inline-block;
        }
      }
    }
  }
}

